.ajax-miniloader {
  font-size: 50px;
  color: #ffc107;
}

.ajax-miniloader .paw {
  width: 1em;
  height: 1em;
  animation: pawAnimation 550ms ease-in-out infinite;
  opacity: 1;
}

.ajax-miniloader .paw svg {
  width: 100%;
  height: 100%;
}

.ajax-miniloader .paw .icon {
  fill: currentColor;
}

.ajax-miniloader .paw:nth-child(odd) {
  transform: rotateY(0deg);
}

.ajax-miniloader .paw:nth-child(even) {
  transform: rotate(10deg) translate(125%, 0);
}

.ajax-miniloader .paw:nth-child(1) {
  animation-delay: 0.2s;
}

.ajax-miniloader .paw.no-cssanimations {
  opacity: 1;
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  50% {
    opacity: 0.3;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
