.MainContainer {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/main_img/mobile/bg_mobile1x.png');
}

.MainTitle {
  max-width: 280px;
  margin-top: 64px;

  font-family: Manrope;
  font-size: 32px;
  line-height: 1.38;
  color: var(--black, #111);
  font-weight: 700;
}

.ImageWrapper {
  position: relative;
  width: 100%;
}

.ImageLeft {
  position: absolute;
  width: 200px;
  top: 220px;
  right: 216px;
  content: url('../../images/main_img/desctop/1desctop3x.webp');
}

.ImageCenter {
  position: absolute;
  width: 260px;
  top: 50px;
  right: -52px;
  content: url('../../images/main_img/desctop/2desctop3x.webp');
}

.ImageRight {
  position: absolute;
  width: 194px;
  bottom: -494px;
  left: 140px;
  content: url('../../images/main_img/desctop/3desctop3x.webp');
}

/*  -- M O B I L E  */

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/mobile/bg_mobile2x.png');
  }
  .ImageLeft {
    content: url('../../images/main_img/mobile/1mobile2x.webp');
  }

  .ImageCenter {
    content: url('../../images/main_img/mobile/2mobile2x.webp');
  }

  .ImageRight {
    content: url('../../images/main_img/mobile/3mobile2x.webp');
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/mobile/bg_mobile3x.png');
  }
  .ImageLeft {
    content: url('../../images/main_img/mobile/1mobile3x.webp');
  }

  .ImageCenter {
    content: url('../../images/main_img/mobile/2mobile3x.webp');
  }

  .ImageRight {
    content: url('../../images/main_img/mobile/3mobile3x.webp');
  }
}

/* -- T A B L E T  */

@media screen and (min-width: 768px) {
  .MainContainer {
    margin-top: 88px;
    background-image: url('../../images/main_img/tablet/bg_tablet1x.png');
  }

  .MainTitle {
    max-width: 588px;
    height: 200px;
    margin-top: 88px;
    font-size: 68px;
    line-height: 1.47;
  }

  .ImageLeft {
    width: 426px;
    top: 320px;
    right: 400px;
    content: url('../../images/main_img/tablet/1tablet1x.webp');
  }

  .ImageCenter {
    width: 500px;
    top: 0px;
    right: -120px;
    content: url('../../images/main_img/tablet/2tablet1x.webp');
  }

  .ImageRight {
    width: 320px;
    bottom: -822px;
    left: 380px;
    content: url('../../images/main_img/tablet/3tablet1x.webp');
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/tablet/bg_tablet2x.png');
  }
  .ImageLeft {
    content: url('../../images/main_img/tablet/1tablet2x.webp');
  }

  .ImageCenter {
    content: url('../../images/main_img/tablet/2tablet2x.webp');
  }

  .ImageRight {
    content: url('../../images/main_img/tablet/3tablet2x.webp');
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 3),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/tablet/bg_tablet3x.png');
  }

  .ImageLeft {
    content: url('../../images/main_img/tablet/1tablet3x.webp');
  }

  .ImageCenter {
    content: url('../../images/main_img/tablet/2tablet3x.webp');
  }

  .ImageRight {
    content: url('../../images/main_img/tablet/3tablet3x.webp');
  }
}

/* --- D E S K T O P  */
@media screen and (min-width: 1280px) {
  .MainContainer {
    display: flex;
    min-height: 110vh;
    margin-top: 0px;
    background-image: url('../../images/main_img/desctop/bg_desctop3x.png');
  }

  .MainTitle {
    max-width: 501px;
    height: 264px;
    margin-top: 60px;
    font-size: 68px;
    font-weight: 800;
  }

  .ImageWrapper {
    overflow: visible;
    width: 917px;
    height: 570px;
  }

  .ImageLeft {
    width: 268px;
    top: 270px;
    right: 600px;
    content: url('../../images/main_img/desctop/1desctop3x.webp');
  }

  .ImageCenter {
    width: 380px;
    top: 64px;
    right: 200px;
    content: url('../../images/main_img/desctop/2desctop3x.webp');
  }

  .ImageRight {
    width: 220px;
    bottom: -70px;
    left: 280px;
    content: url('../../images/main_img/desctop/3desctop3x.webp');
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/desctop/bg_desctop2x.png');
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 3),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .MainContainer {
    background-image: url('../../images/main_img/desctop/bg_desctop3x.png');
  }
}
