.listNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.04em;

}
@media screen and (min-width: 768px) {
  .listNav {
    gap: 60px;
    font-size: 48px;
    line-height: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .listNav {
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }
}
