.listNav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .listNav{
        padding-top: 24px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .listNav{
        flex-direction: row;
    }
  }
  